In [73]:
import pandas as pd

In [74]:
bond = pd.read_csv('jamesbond.csv')
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

# The set_index() and reset_index() Methods

In [75]:
bond = pd.read_csv('jamesbond.csv')
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [76]:
bond.set_index(keys = 'Film', inplace = True)

In [77]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [78]:
bond.reset_index(drop = True)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [79]:
bond.reset_index(drop = False,inplace = True)

In [80]:
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [81]:
# Trocar uma coluna de index
bond.set_index('Film', inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [82]:
# Para mudar a coluna é necessario fazer primeiro o reset e depois o set da nova coluna
bond.reset_index(inplace = True)

In [83]:
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [84]:
bond.set_index('Year', inplace = True)
bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

# Retrieve Rows by Index Label with .loc[ ] Accessor

In [85]:
bond = pd.read_csv('jamesbond.csv', index_col = ['Film'])
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [86]:
bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [87]:
bond.loc['GoldenEye']

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [88]:
bond.loc['Diamond Are Forever' : 'From Russia With Love']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN

In [89]:
bond.loc['Diamond Are Forever' : 'From Russia With Love' : 2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [90]:
bond.loc['GoldenEye' : ]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [91]:
bond.loc[:"On Her Majesty's Secret Service"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [92]:
bond.loc[['Die Another Day', 'Octopussy']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

# Retrieve Rows by Index Position with .iloc Accessor

In [93]:
bond = pd.read_csv('jamesbond.csv')
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [94]:
bond.iloc[0]

Film                        Dr. No
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: 0, dtype: object

In [95]:
bond.iloc[[15, 20]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [96]:
bond.iloc[4:8]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

# Second Arguments to loc and iloc Accessors

In [97]:
bond = pd.read_csv('jamesbond.csv', index_col = 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [98]:
bond.loc['A View to a Kill', 'Actor']

'Roger Moore'

In [99]:
bond.loc['A View to a Kill',['Director', 'Box Office']]

Director      John Glen
Box Office        275.2
Name: A View to a Kill, dtype: object

In [100]:
bond.loc[['A View to a Kill', 'Moonraker'], ['Director', 'Box Office']]

                       Director  Box Office
Film
A View to a Kill      John Glen       275.2
Moonraker         Lewis Gilbert       535.0

In [101]:
bond.loc['Moonraker','Director':'Budget']

Director      Lewis Gilbert
Box Office            535.0
Budget                 91.5
Name: Moonraker, dtype: object

In [102]:
bond.loc['Moonraker':'Thunderball', 'Director':'Budget']

                                       Director  Box Office  Budget
Film
Moonraker                         Lewis Gilbert       535.0    91.5
Never Say Never Again            Irvin Kershner       380.0    86.0
Octopussy                             John Glen       373.8    53.9
On Her Majesty's Secret Service   Peter R. Hunt       291.5    37.3
Quantum of Solace                  Marc Forster       514.2   181.4
Skyfall                              Sam Mendes       943.5   170.2
Spectre                              Sam Mendes       726.7   206.3
The Living Daylights                  John Glen       313.5    68.8
The Man with the Golden Gun        Guy Hamilton       334.0    27.7
The Spy Who Loved Me              Lewis Gilbert       533.0    45.1
The World Is Not Enough           Michael Apted       439.5   158.3
Thunderball                       Terence Young       848.1    41.9

In [103]:
bond.loc[:'Moonraker', :'Budget']

,Year,Actor,Director,Box Office,Budget
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5

# Set New Value for a Specific Cell

In [104]:
bond = pd.read_csv('jamesbond.csv', index_col = 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [105]:
bond.loc['Dr. No', 'Actor'] = 'Sir Sean Conerry'
bond.loc['Dr. No', 'Actor']

'Sir Sean Conerry'

In [106]:
bond.loc['Dr. No', ['Box Office', 'Budget', 'Bond Actor Salary']] = [4480000000, 7000000, 6000000]
bond.loc['Dr. No']

Year                             1962
Actor                Sir Sean Conerry
Director                Terence Young
Box Office               4480000000.0
Budget                      7000000.0
Bond Actor Salary           6000000.0
Name: Dr. No, dtype: object

# Set Multiples Values in DataFrame

In [107]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [108]:
actor_is_sean_connerry = bond['Actor'] == 'Sean Connery'

In [109]:
bond.loc[actor_is_sean_connerry, 'Actor'] = 'Sir Sean Connery'
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [110]:
# bond[actor_is_sean_connerry]['Actor'] = 'Sir Sean Connery' # Dessa forma não é possivel alterar. Esse formato trabalha com uma cópia do DataFrame

In [111]:
bond.rename(mapper = {'GoldenEye': 'Golden Eye',
                     'The World Is Not Enough': 'Best Bond Movie Ever'})
bond.rename(mapper = {'GoldenEye': 'Golden Eye',
                     'The World Is Not Enough': 'Best Bond Movie Ever'}, axis = 0)
bond.rename(mapper = {'GoldenEye': 'Golden Eye',
                     'The World Is Not Enough': 'Best Bond Movie Ever'}, axis = 'rows')
bond.rename(mapper = {'GoldenEye': 'Golden Eye',
                     'The World Is Not Enough': 'Best Bond Movie Ever'}, axis = 'index')
bond.rename(index = {'GoldenEye': 'Golden Eye',
                     'The World Is Not Enough': 'Best Bond Movie Ever'})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [112]:
bond.rename(mapper = {'Year': 'Release Date', 'Box Office': 'Revenue'}, axis = 1)
bond.rename(mapper = {'Year': 'Release Date', 'Box Office': 'Revenue'}, axis = 'columns')
bond.rename(columns = {'Year': 'Release Date', 'Box Office': 'Revenue'})
bond.rename(columns = {'Year': 'Release Date', 'Box Office': 'Revenue'}, inplace = True)

In [113]:
bond.head(1)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [114]:
bond.columns = ['Year of Release', 'Actor', 'Director', 'Gross', 'Coast', 'Salary']
bond.head(1)

,Year of Release,Actor,Director,Gross,Coast,Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

# Delete Rows and Columns from a DataFrame

In [126]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [117]:
bond.drop('A View to a Kill')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [119]:
bond.drop(['A View to a Kill', 'Die Another Day', 'From Russia with Love'])

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [121]:
bond.drop('Casino Royale')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [122]:
bond.drop(labels = ['Box Office', 'Bond Actor Salary', 'Actor'], axis = 'columns')

                                 Year            Director  Budget
Film
A View to a Kill                 1985           John Glen    54.5
Casino Royale                    2006     Martin Campbell   145.3
Casino Royale                    1967          Ken Hughes    85.0
Diamonds Are Forever             1971        Guy Hamilton    34.7
Die Another Day                  2002        Lee Tamahori   154.2
Dr. No                           1962       Terence Young     7.0
For Your Eyes Only               1981           John Glen    60.2
From Russia with Love            1963       Terence Young    12.6
GoldenEye                        1995     Martin Campbell    76.9
Goldfinger                       1964        Guy Hamilton    18.6
Licence to Kill                  1989           John Glen    56.7
Live and Let Die                 1973        Guy Hamilton    30.8
Moonraker                        1979       Lewis Gilbert    91.5
Never Say Never Again            1983      Irvin Kershner    86.0
Octopussy                        1983           John Glen    53.9
On Her Majesty's Secret Service  1969       Peter R. Hunt    37.3
Quantum of Solace                2008        Marc Forster   181.4
Skyfall                          2012          Sam Mendes   170.2
Spectre                          2015          Sam Mendes   206.3
The Living Daylights             1987           John Glen    68.8
The Man with the Golden Gun      1974        Guy Hamilton    27.7
The Spy Who Loved Me             1977       Lewis Gilbert    45.1
The World Is Not Enough          1999       Michael Apted   158.3
Thunderball                      1965       Terence Young    41.9
Tomorrow Never Dies              1997  Roger Spottiswoode   133.9
You Only Live Twice              1967       Lewis Gilbert    59.9

In [123]:
actor = bond.pop('Actor')
bond

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,John Glen,275.2,54.5,9.1
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4

In [124]:
actor

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [129]:
del bond['Director']

KeyError: 'Director'

In [131]:
del bond['Year']
bond

,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,
A View to a Kill,Roger Moore,275.2,54.5,9.1
Casino Royale,Daniel Craig,581.5,145.3,3.3
Casino Royale,David Niven,315.0,85.0,NaN
Diamonds Are Forever,Sean Connery,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,465.4,154.2,17.9
Dr. No,Sean Connery,448.8,7.0,0.6
For Your Eyes Only,Roger Moore,449.4,60.2,NaN
From Russia with Love,Sean Connery,543.8,12.6,1.6
GoldenEye,Pierce Brosnan,518.5,76.9,5.1
Goldfinger,Sean Connery,820.4,18.6,3.2
Licence to Kill,Timothy Dalton,250.9,56.7,7.9
Live and Let Die,Roger Moore,460.3,30.8,NaN
Moonraker,Roger Moore,535.0,91.5,NaN
Never Say Never Again,Sean Connery,380.0,86.0,NaN
Octopussy,Roger Moore,373.8,53.9,7.8
On Her Majesty's Secret Service,George Lazenby,291.5,37.3,0.6
Quantum of Solace,Daniel Craig,514.2,181.4,8.1
Skyfall,Daniel Craig,943.5,170.2,14.5
Spectre,Daniel Craig,726.7,206.3,NaN
The Living Daylights,Timothy Dalton,313.5,68.8,5.2
The Man with the Golden Gun,Roger Moore,334.0,27.7,NaN
The Spy Who Loved Me,Roger Moore,533.0,45.1,NaN
The World Is Not Enough,Pierce Brosnan,439.5,158.3,13.5
Thunderball,Sean Connery,848.1,41.9,4.7
Tomorrow Never Dies,Pierce Brosnan,463.2,133.9,10.0
You Only Live Twice,Sean Connery,514.2,59.9,4.4

# Create Random Sample

In [132]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [133]:
bond.sample()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [134]:
bond.sample(frac = .25) # Vai gerar 25% do DataFrame de maneira aleatoria

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [135]:
bond.sample(n = 3, axis = 'columns') # n = número de amostras | axis padrão index

                                 Bond Actor Salary           Actor  Year
Film
A View to a Kill                               9.1     Roger Moore  1985
Casino Royale                                  3.3    Daniel Craig  2006
Casino Royale                                  NaN     David Niven  1967
Diamonds Are Forever                           5.8    Sean Connery  1971
Die Another Day                               17.9  Pierce Brosnan  2002
Dr. No                                         0.6    Sean Connery  1962
For Your Eyes Only                             NaN     Roger Moore  1981
From Russia with Love                          1.6    Sean Connery  1963
GoldenEye                                      5.1  Pierce Brosnan  1995
Goldfinger                                     3.2    Sean Connery  1964
Licence to Kill                                7.9  Timothy Dalton  1989
Live and Let Die                               NaN     Roger Moore  1973
Moonraker                                      NaN     Roger Moore  1979
Never Say Never Again                          NaN    Sean Connery  1983
Octopussy                                      7.8     Roger Moore  1983
On Her Majesty's Secret Service                0.6  George Lazenby  1969
Quantum of Solace                              8.1    Daniel Craig  2008
Skyfall                                       14.5    Daniel Craig  2012
Spectre                                        NaN    Daniel Craig  2015
The Living Daylights                           5.2  Timothy Dalton  1987
The Man with the Golden Gun                    NaN     Roger Moore  1974
The Spy Who Loved Me                           NaN     Roger Moore  1977
The World Is Not Enough                       13.5  Pierce Brosnan  1999
Thunderball                                    4.7    Sean Connery  1965
Tomorrow Never Dies                           10.0  Pierce Brosnan  1997
You Only Live Twice                            4.4    Sean Connery  1967

# The nsmallest() and nlargest() Methods

In [136]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [138]:
bond.sort_values('Box Office', ascending = False).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [139]:
bond.nlargest(n = 3, columns = 'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [140]:
bond.nsmallest(2, 'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [141]:
bond.nlargest(3, 'Budget')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [143]:
bond.nsmallest(6, 'Bond Actor Salary')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [144]:
bond.nlargest(3, 'Bond Actor Salary')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [145]:
bond['Box Office'].nlargest(8)

Film
Skyfall                  943.5
Thunderball              848.1
Goldfinger               820.4
Spectre                  726.7
Casino Royale            581.5
From Russia with Love    543.8
Moonraker                535.0
The Spy Who Loved Me     533.0
Name: Box Office, dtype: float64

In [147]:
bond['Year'].nsmallest(3)

Film
Dr. No                   1962
From Russia with Love    1963
Goldfinger               1964
Name: Year, dtype: int64

In [157]:
bond[bond['Year'].between(1964, 1980)].nsmallest(3, columns = 'Bond Actor Salary')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# Filtering with the where Method

In [149]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [150]:
bond[bond['Actor'] == 'Sean Connery']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [151]:
bond.where(bond['Actor'] == 'Sean Connery')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [159]:
bond.where(bond['Box Office'] > 800)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
bond.where((bond['Actor'] == 'Sean Connery') & (bond['Box Office'] > 800))

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

# The .query() Method

In [163]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [174]:
bond.columns = [column_name.replace(' ', '_') for column_name in bond.columns] #Para o método query funcionar não pode haver espaço

In [176]:
bond.query('Actor == "Sean Connery"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [179]:
bond.query('Actor != "Roger Moore"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [181]:
bond.query('Box_Office > 600')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [183]:
bond.query('Actor == "Roger Moore" and Director == "John Glen"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [184]:
bond.query('Actor == "Roger Moore" or Director == "John Glen"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [185]:
bond.query('Actor in ["Timothy Dalton", "George Lazenby"]')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [187]:
bond.query("Actor not in ['Sean Connery', 'Roger Moore']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [195]:
bond[bond['Actor'].str.contains('Sean')]

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# Review the .apply() Method on Single Columns

In [203]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [204]:
def convert_to_string_and_add_millions(number):
    return str(number) + " MILLIONS!"

In [205]:
bond['Box Office']

Film
A View to a Kill                   275.2
Casino Royale                      581.5
Casino Royale                      315.0
Diamonds Are Forever               442.5
Die Another Day                    465.4
Dr. No                             448.8
For Your Eyes Only                 449.4
From Russia with Love              543.8
GoldenEye                          518.5
Goldfinger                         820.4
Licence to Kill                    250.9
Live and Let Die                   460.3
Moonraker                          535.0
Never Say Never Again              380.0
Octopussy                          373.8
On Her Majesty's Secret Service    291.5
Quantum of Solace                  514.2
Skyfall                            943.5
Spectre                            726.7
The Living Daylights               313.5
The Man with the Golden Gun        334.0
The Spy Who Loved Me               533.0
The World Is Not Enough            439.5
Thunderball                        848.1
Tomorrow Never Dies                463.2
You Only Live Twice                514.2
Name: Box Office, dtype: float64

In [208]:
bond['Box Office'] = bond['Box Office'].apply(convert_to_string_and_add_millions)
# To transform the opperation above into inplace its necessary to assign it to a variable
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLIONS!,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLIONS!,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 MILLIONS!,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8 MILLIONS!,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4 MILLIONS!,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8 MILLIONS!,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5 MILLIONS!,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 MILLIONS!,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9 MILLIONS!,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3 MILLIONS!,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0 MILLIONS!,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0 MILLIONS!,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8 MILLIONS!,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5 MILLIONS!,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2 MILLIONS!,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5 MILLIONS!,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7 MILLIONS!,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5 MILLIONS!,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0 MILLIONS!,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0 MILLIONS!,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5 MILLIONS!,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1 MILLIONS!,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2 MILLIONS!,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2 MILLIONS!,59.9,4.4

In [209]:
bond['Budget'] = bond['Budget'].apply(convert_to_string_and_add_millions)
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5 MILLIONS!,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3 MILLIONS!,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLIONS!,85.0 MILLIONS!,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLIONS!,34.7 MILLIONS!,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 MILLIONS!,154.2 MILLIONS!,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8 MILLIONS!,7.0 MILLIONS!,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4 MILLIONS!,60.2 MILLIONS!,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8 MILLIONS!,12.6 MILLIONS!,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5 MILLIONS!,76.9 MILLIONS!,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 MILLIONS!,18.6 MILLIONS!,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9 MILLIONS!,56.7 MILLIONS!,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3 MILLIONS!,30.8 MILLIONS!,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0 MILLIONS!,91.5 MILLIONS!,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0 MILLIONS!,86.0 MILLIONS!,NaN
Octopussy,1983,Roger Moore,John Glen,373.8 MILLIONS!,53.9 MILLIONS!,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5 MILLIONS!,37.3 MILLIONS!,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2 MILLIONS!,181.4 MILLIONS!,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5 MILLIONS!,170.2 MILLIONS!,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7 MILLIONS!,206.3 MILLIONS!,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5 MILLIONS!,68.8 MILLIONS!,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0 MILLIONS!,27.7 MILLIONS!,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0 MILLIONS!,45.1 MILLIONS!,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5 MILLIONS!,158.3 MILLIONS!,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1 MILLIONS!,41.9 MILLIONS!,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2 MILLIONS!,133.9 MILLIONS!,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2 MILLIONS!,59.9 MILLIONS!,4.4

In [210]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [212]:
columns = ['Box Office', 'Budget', 'Bond Actor Salary']
for col in columns:
    bond[col] = bond[col].apply(convert_to_string_and_add_millions)

In [213]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5 MILLIONS!,9.1 MILLIONS!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3 MILLIONS!,3.3 MILLIONS!
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLIONS!,85.0 MILLIONS!,nan MILLIONS!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLIONS!,34.7 MILLIONS!,5.8 MILLIONS!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 MILLIONS!,154.2 MILLIONS!,17.9 MILLIONS!
Dr. No,1962,Sean Connery,Terence Young,448.8 MILLIONS!,7.0 MILLIONS!,0.6 MILLIONS!
For Your Eyes Only,1981,Roger Moore,John Glen,449.4 MILLIONS!,60.2 MILLIONS!,nan MILLIONS!
From Russia with Love,1963,Sean Connery,Terence Young,543.8 MILLIONS!,12.6 MILLIONS!,1.6 MILLIONS!
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5 MILLIONS!,76.9 MILLIONS!,5.1 MILLIONS!
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 MILLIONS!,18.6 MILLIONS!,3.2 MILLIONS!
Licence to Kill,1989,Timothy Dalton,John Glen,250.9 MILLIONS!,56.7 MILLIONS!,7.9 MILLIONS!
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3 MILLIONS!,30.8 MILLIONS!,nan MILLIONS!
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0 MILLIONS!,91.5 MILLIONS!,nan MILLIONS!
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0 MILLIONS!,86.0 MILLIONS!,nan MILLIONS!
Octopussy,1983,Roger Moore,John Glen,373.8 MILLIONS!,53.9 MILLIONS!,7.8 MILLIONS!
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5 MILLIONS!,37.3 MILLIONS!,0.6 MILLIONS!
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2 MILLIONS!,181.4 MILLIONS!,8.1 MILLIONS!
Skyfall,2012,Daniel Craig,Sam Mendes,943.5 MILLIONS!,170.2 MILLIONS!,14.5 MILLIONS!
Spectre,2015,Daniel Craig,Sam Mendes,726.7 MILLIONS!,206.3 MILLIONS!,nan MILLIONS!
The Living Daylights,1987,Timothy Dalton,John Glen,313.5 MILLIONS!,68.8 MILLIONS!,5.2 MILLIONS!
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0 MILLIONS!,27.7 MILLIONS!,nan MILLIONS!
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0 MILLIONS!,45.1 MILLIONS!,nan MILLIONS!
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5 MILLIONS!,158.3 MILLIONS!,13.5 MILLIONS!
Thunderball,1965,Sean Connery,Terence Young,848.1 MILLIONS!,41.9 MILLIONS!,4.7 MILLIONS!
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2 MILLIONS!,133.9 MILLIONS!,10.0 MILLIONS!
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2 MILLIONS!,59.9 MILLIONS!,4.4 MILLIONS!

# The .apply() Method with Row Values

In [214]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [216]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    if actor == 'Pierce Brosnan':
        return 'The Best'
    elif actor == 'Roger Moore' and budget > 40:
        return 'Enjoyable'
    else:
        return 'I have no clue'

bond.apply(good_movie, axis = 'columns')

Film
A View to a Kill                        Enjoyable
Casino Royale                      I have no clue
Casino Royale                      I have no clue
Diamonds Are Forever               I have no clue
Die Another Day                          The Best
Dr. No                             I have no clue
For Your Eyes Only                      Enjoyable
From Russia with Love              I have no clue
GoldenEye                                The Best
Goldfinger                         I have no clue
Licence to Kill                    I have no clue
Live and Let Die                   I have no clue
Moonraker                               Enjoyable
Never Say Never Again              I have no clue
Octopussy                               Enjoyable
On Her Majesty's Secret Service    I have no clue
Quantum of Solace                  I have no clue
Skyfall                            I have no clue
Spectre                            I have no clue
The Living Daylights               I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me                    Enjoyable
The World Is Not Enough                  The Best
Thunderball                        I have no clue
Tomorrow Never Dies                      The Best
You Only Live Twice                I have no clue
dtype: object

# The .copy() Method

In [220]:
directors = bond['Director']
directors.head(3)
directors['A View to a Kill'] = 'Mister John Glen'
bond

<ipython-input-220-7f1d0d86e1fb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  directors['A View to a Kill'] = 'Mister John Glen'

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [221]:
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [224]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [225]:
bond = pd.read_csv('jamesbond.csv', index_col= 'Film')
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [227]:
directors = bond['Director'].copy()
directors.head(3)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Casino Royale            Ken Hughes
Name: Director, dtype: object

In [228]:
directors['A View to a Kill'] = 'Mister John Glen'
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [229]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN